// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.field_with_errors {
      display: inline;
      label{
      color: red;
      }

      input,textarea{
            padding: 5px;
            border: solid red 1px;
      }

}

.card{
      width: 300px;
      height: 150px;
      background-color:lightpink;
      border:1px dotted  palegoldenrod;
      .card_title{
            font-size: 18px;
      }
      .crad_body{ 
            background-color: lightblue;
            border:1px dotted  palegoldenrod;
            height:auto;
            }
  
}


